@model OrderModel
@{
    ViewData["Title"] = "Потвержедение мобильного";
}

<h1>Потвержедение мобильного</h1>

<p>
    Введите <em>код подтверждения</em> из SMS
</p>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="code">Код потдверждения</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="0000" />
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button class="btn btn-success">Проверить</button>
</form>

<p>
    Если код не пришёл в течении минуты, проверьте правльность номера и
    повторите отправку кода.
</p>

<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post">
    <div>
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" class="form-control" name="cellPhone" value=@Model.CellPhone />
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
        <button type="submit" class="btn btn-success">Повторно отправить код</button>
    </div>
</form>

